ftb-country-photo-stories {
  ftb-country-photo {
    height: 120px;
    width: 120px;
  }
  ftb-league-logo {
    height: 100px;
    width: 100px;
    ftb-league-sports-icon {
      fill: #363d46;
    }
  }
}
