ftb-pagination {
  .ftb-pagination-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    .item {
      flex: 1;
    }
    .spinner-container {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      ftb-spinner {
        --size: 12px;
      }
    }
  }
  .ftb-pagination-pages-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    user-select: none;
    font-size: 13px;
    .page {
      padding: 0 5px;
      cursor: pointer;
      transition: color 0.2s linear;
      $selectedColor: cornflowerblue;
      &:hover {
        color: $selectedColor;
      }
      &.selected {
        font-size: 16px;
        color: $selectedColor;
      }
    }
  }
}
