ftb-pagination {
  display: block;
  .ftb-pagination__nav-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    .ftb-pagination__prev-button .ftb-pagination__chevron-icon {
      transform: rotate(90deg);
    }
    .ftb-pagination__next-button .ftb-pagination__chevron-icon {
      transform: rotate(-90deg);
    }
  }
}
