ftb-game-media {
  .ftb-game-media__wrapper {
    .ftb-game-media__background {
      width: 800px;
      ftb-game-photo-preview {
        cursor: pointer;
        .game-photo-wrapper {
          background: rgba(0, 0, 0, 0.1);
        }
      }
      .video-tab {
        ftb-video {
          width: 361px;
          height: 294px;
          .ftb-video__image {
            height: 270px;
          }
          .ftb-video__title {
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
