ftb-language-select {
  ftb-icon {
    height: 25px;
    width: 25px;
    margin: 0 5px;
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    &.selected {
      opacity: 1;
    }
    &:not(.selected):hover {
      opacity: 0.6;
    }
  }
}

.ftb-searchable-content__search-line {
  font-size: 14px;
  height: 35px;
  border-radius: 2px;
  margin-bottom: 5px;
  input {
    height: 35px;
    padding: 0 10px;
    font-size: 12px;
  }
  ftb-spinner {
    --size: 5px;
    top: 8px;
    right: 16px;
  }
  .category-wrapper {
    font-size: 10px;
    .category-background {
      transition: color 0.2s ease-in-out;
      padding: 0 15px;
      height: 20px;
    }
  }

  .options {
    border-radius: 2px;
    top: 37px;
    left: 0;
    width: 100%;
    .option-wrapper {
      .option {
        height: 42px;
        font-size: 12px;
        width: calc(100% - 20px);
        margin: 0 10px;
        padding: 0 5px;
      }
    }
  }
}

ftb-global-search {
  width: 800px;
  max-width: 800px;
  min-width: 600px;
  height: 37px;
  .ftb-searchable-content__search-line {
    .league-option,
    .city-option {
      display: flex;
      align-items: center;
    }
    ftb-flag,
    ftb-league-logo {
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
  }
  .ftb-searchable-content__content {
    width: 100%;
    .ftb-global-search__results-wrapper {
      left: 0;
      top: -2px;
      border-radius: 2px;
      width: 100%;
      border-width: 1px;
      box-sizing: border-box;
      .ftb-global-search__item {
        box-sizing: border-box;
        height: 42px;
        font-size: 12px;
        width: calc(100% - 20px);
        margin: 0 10px;
        padding: 0 5px;

        .info {
          margin-left: 15px;
          line-height: 12px;
          font-size: 13px;
          .league {
            font-size: 11px;
          }
        }

        &.team {
          ftb-team-logo {
            height: 30px;
            width: 30px;
          }
        }
        &.stadium {
          ftb-stadium-photo {
            height: 30px;
            width: 30px;
          }
        }
        &.league {
          ftb-league-logo {
            height: 20px;
            width: 20px;
          }
        }
        &.player {
          ftb-player-photo {
            height: 35px;
            width: 35px;
            border-radius: 2px;
            border-width: 1px;
          }
        }
        &.champ {
          ftb-flag {
            height: 25px;
            width: 25px;
            margin-left: 2.5px;
            margin-right: 2.5px;
          }
        }
      }
    }
  }
}
