ftb-player-team-card {
  .ftb-player-team-card__wrapper {
    height: inherit;
    width: inherit;

    .ftb-player-team-card__background {
      width: inherit;
      height: inherit;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .ftb-player-team-card__color {
        position: absolute;
        top: 0;
        right: 0;
        width: inherit;
        height: inherit;
        z-index: 1;
        .ftb-player-team-card__color-layer {
          position: absolute;
          width: inherit;
          height: inherit;
          top: 0;
          left: 0;
          &:nth-child(1) {
            opacity: 0.35;
          }
          &:nth-child(2) {
            opacity: 0.4;
          }
          &:nth-child(3) {
            opacity: 0.15;
          }
        }
      }

      .ftb-player-team-card__content {
        width: inherit;
        height: inherit;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        ftb-team-logo {
          margin-right: 10px;
        }
        .ftb-player-team-card__name-period {
          text-align: left;
          flex: 1;
          .ftb-player-team-card__stats {
            font-size: 12px;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            .title {
              margin-left: 2px;
            }
          }
        }
        .ftb-player-team-card__period {
          font-size: 12px;
          text-align: center;
          line-height: 10px;
        }
      }
    }
  }
}
