ftb-game-events {
  ftb-searchable-content {
    width: 800px !important;
    .ftb-game-events__wrapper {
      .ftb-game-events__background {
        .event {
          .event-background {
            display: flex;
            align-items: center;
            .event-minute {
              .event-minute-background {
                height: 40px;
                width: 55px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .event-content {
              flex: 1;
              margin: 0 2px;
              .event-content-background {
                height: 40px;
                display: flex;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0 10px;
                .top-line {
                  display: flex;
                  .event-type {
                    ftb-icon {
                      height: 20px;
                      --fill: rgba(0, 0, 0, 0.8);
                    }
                    .yellow {
                      width: 10px;
                      height: 16px;
                      background: yellow;
                      transform: rotate(7deg);
                      opacity: 0.7;
                    }
                    .red {
                      width: 10px;
                      height: 16px;
                      background: red;
                      transform: rotate(7deg);
                      opacity: 0.7;
                    }
                    .yellow + .red {
                      margin-left: -15px;
                    }
                  }

                  .second-player-name {
                    font-size: 13px;
                    &:before {
                      content: '(';
                      display: inline-block;
                      margin-left: 3px;
                    }
                    &:after {
                      content: ')';
                      display: inline-block;
                    }
                  }
                }
              }
            }
            .event-team {
              .event-team-background {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.1);
                height: 40px;
                width: 55px;
              }
            }
          }
        }
        .event:not(:last-of-type) {
          margin-bottom: 4px;
        }
      }
    }
  }
}
