ftb-video-cover {
  display: block;
  overflow: hidden;
  //aspect-ratio: 16 / 9;
  a {
    display: inline-flex;
    height: 100%;
    width: 100%;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      //&.hq {
      //  height: 130%;
      //  width: 100%;
      //  position: absolute;
      //  left: 0;
      //  top: -15%;
      //}
    }
  }
}
