ftb-img {
  display: block;
  height: inherit;
  width: inherit;
  .wrapper {
    display: block;
    height: inherit;
    width: inherit;
    img {
      display: block;
      opacity: 0;
      height: inherit;
      width: inherit;
      &.loaded {
        opacity: 1;
      }
    }
  }
}
