ftb-stage-table {
  overflow: hidden;
  display: block;
  .ftb-stage-table__wrapper {
    width: 100%;
    overflow: hidden;
    display: block;
  }

  .head {
    display: flex;
    align-items: center;
    overflow: hidden;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .body {
    overflow: hidden;

    a {
      display: block;
      .row {
        display: flex;
        align-items: center;
        overflow: hidden;
      }
    }
  }

  .head,
  .body {
    & > div,
    .row > div {
      text-align: center;
    }

    a {
      display: block;
    }

    .position {
      text-align: center;
    }

    .chess-game {
      min-height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .game a {
        display: flex;
      }
    }
    .name {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .gd {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
