ftb-stage-table {
  overflow: hidden;
  display: block;
  .ftb-stage-table__wrapper {
    width: 100%;
    overflow: hidden;
    display: block;
  }

  .ftb-stage-table__head {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 40px;
  }
  .ftb-stage-table__body {
    overflow: hidden;

    .ftb-stage-table__row {
      display: flex;
      align-items: center;
      overflow: hidden;
      min-height: 40px;
    }
  }

  .ftb-stage-table__head,
  .ftb-stage-table__body {
    & > div,
    .ftb-stage-table__row > div {
      text-align: center;
    }

    .position {
      text-align: center;
    }

    .chess-game {
      min-height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .game a {
        display: flex;
      }
    }
    .name {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .gd {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
