ftb-global-search {
  .ftb-global-search__wrapper {
    height: inherit;
    width: inherit;
    .ftb-global-search__background {
      height: inherit;
      width: inherit;
      ftb-searchable-content {
        height: inherit;
        width: inherit;
        .ftb-searchable-content__content {
          position: relative;
          .ftb-global-search__results-wrapper {
            width: inherit;
            position: absolute;
            z-index: 1000;
            .ftb-global-search__item-wrapper {
              .ftb-global-search__item a {
                display: flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
