ftb-game-card {
  .ftb-game-card__wrapper {
    .ftb-game-card__background {
      .ftb-game-card__top,
      .ftb-game-card__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .ftb-game-card__top {
        .champ-season {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .round {
          white-space: nowrap;
        }
      }
      .ftb-game-card__bottom {
      }
      .ftb-game-card__content {
        display: flex;
        .left,
        .right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .time {
          }
          .stadium {
            text-align: center;
          }
          .pitch {
            text-align: center;
          }
          .champ {
            text-align: center;
          }
          .season {
            text-align: center;
          }
          .date {
          }
          .round {
          }
          .player-stats {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            .item {
              display: flex;
              align-items: center;
              text-align: center;
              white-space: nowrap;
              flex-wrap: nowrap;
              .title {
              }
            }
            .card {
              width: 8px;
              height: 15px;
              display: block;
              &.yellow {
                background: gold;
                transform: rotate(7deg);
              }
              &.red {
                background: red;
                transform: rotate(8deg);
              }
            }
            .yellow + .yellow {
              margin-left: -5px;
            }
            .yellow + .red {
              margin-left: -7px;
            }
          }
        }
        .center {
          flex: 1;
          .center-row {
            display: flex;
            align-items: center;
            ftb-team-logo {
            }
            .name {
              flex: 1;
            }
            .score {
            }
          }
        }
      }
    }
  }
}
