ftb-video {
  display: block;
  .ftb-video__wrapper {
    text-decoration: none;
    .ftb-video__background {
      position: relative;
      .ftb-video__image {
        background-size: cover;
        background-position: center;
      }
      .ftb-video__title {
      }
    }
  }
  .ftb-video__service-img {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
