ftb-league-champs {
  .ftb-league-champs__wrapper {
    .ftb-league-champs__background {
      .ftb-league-champs__content {
        ftb-searchable-content {
          width: 800px;
          .items {
            display: flex;
            flex-wrap: wrap;
            ftb-champ-card {
              display: block;
              width: 262.65px;
              margin: 1px;
              height: 45px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              background: rgba(0, 0, 0, 0.05);
              ftb-flag {
                height: 20px;
                width: 20px;
                margin-left: 20px;
              }
              .data {
                margin-right: 5px;
                .name {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
          .country-option {
            display: flex;
            align-items: center;
            ftb-flag {
              height: 25px;
              margin-right: 10px;
            }
          }
          .category .country-option {
            ftb-flag {
              height: 15px;
            }
          }
        }
      }
    }
  }
}
