ftb-searchable-content {
  display: block;
  .ftb-searchable-content__search-line {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    .input-wrapper {
      flex: 1;
      display: flex;
      .inputs {
        flex: 1;
        display: flex;
        position: relative;
        .search-icon {
          fill: rgba(0, 0, 0, 0.6);
          position: absolute;
        }
        input {
          flex: 1;
          &.hidden {
            height: 0;
            width: 0;
            overflow: hidden;
            max-width: 0;
            margin: 0;
            padding: 0;
          }
          &.main-input {
            padding-left: 33px;
          }
        }
        ftb-spinner {
          position: absolute;
          &.hidden {
            opacity: 0;
          }
        }
      }
      &.hidden {
        height: 0;
        width: 0;
        max-width: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .category-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .category-background {
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
          cursor: pointer;
          & > div {
            display: flex;
            align-items: center;
          }
          ftb-icon:last-of-type {
            height: 7px;
            width: 7px;
            margin-left: 7.5px;
            svg {
              transition: all 0.2s ease-in-out;
            }
            &.open svg {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .options {
      position: absolute;
      z-index: 1000;
      .option-wrapper {
        .option {
          display: flex;
          align-items: center;
          user-select: none;
          cursor: pointer;
        }
      }
    }
  }
}
