ftb-searchable-content {
  .ftb-searchable-content-search-line {
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    .input-wrapper {
      flex: 1;
      input {
        width: calc(100% - 15px);
        height: 25px;
        margin-right: 15px;
        border: none;
        box-shadow: none;
        outline: none;
        padding: 5px 10px;
      }
      &.hidden {
        height: 0;
        width: 0;
        overflow: hidden;
      }
    }
    .button-wrapper {
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      ftb-spinner {
        --color: cornflowerblue;
        --size: 10px;
      }
      .open-search-button {
        background: transparent;
        border: none;
        box-shadow: none;
        outline: none;
        ftb-icon {
          height: 20px;
          width: 20px;
          user-select: none;
          cursor: pointer;
          &:hover {
            --fill: cornflowerblue;
          }
        }
        &.open {
          --fill: cornflowerblue;
        }
      }
    }
  }
}
