ftb-media {
  ftb-post-cover {
    height: 150px;
    width: 198px;
    margin: 0 1px;
  }

  ftb-game-photo-cover {
    height: 150px;
    width: 198px;
    margin: 0 1px;
  }

  ftb-video {
    height: 150px;
    width: 265.5px;
    margin: 0 1px;
    .ftb-video__title {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 14px;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 10px 20px;
      padding-top: 50px;
      box-sizing: border-box;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.01));
      color: white;
    }
  }
}
