ftb-player-career {
  .ftb-player-career__wrapper {
    .ftb-player-career__background {
      .ftb-player-career__spinner-wrapper {
        ftb-searchable-content {
          ftb-player-team-card {
            height: 60px;
            width: 263px;
          }

          ftb-player-season-card {
            height: 60px;
            width: 263px;
          }
        }
      }
    }
  }
}
