ftb-person-games {
  .ftb-person-games__wrapper {
    height: inherit;
    width: inherit;
    .ftb-person-games__background {
      height: inherit;
      width: inherit;
      ftb-searchable-content {
        width: 800px;
      }
    }
  }
}
