ftb-post-cover {
  display: block;
  .ftb-post-cover__wrapper {
    .ftb-post-cover__background {
      .ftb-post-cover__image {
        background-size: cover;
        background-position: center center;
      }
      .ftb-post-cover__title {
      }
    }
    .ftb-post-cover__background:not(.loaded) {
      .ftb-post-cover__image {
        opacity: 0;
      }
      .ftb-post-cover__title {
        opacity: 0;
      }
    }
  }
  .ftb-post-cover__helper-img {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
