ftb-stage-cup-net-stories {
  $netAnimation: 0.3s ease-in-out;

  ftb-stage-cup-net {
    .ftb-stage-cup-net__game {
      margin-bottom: 20px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      .ftb-stage-cup-net__row {
        height: 50px;
        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        ftb-team-logo {
          height: 50px;
          width: 50px;
          background: rgba(0, 0, 0, 0.05);
          img,
          ftb-icon {
            margin: 10px;
            height: 30px;
            width: 30px;
          }
        }

        &.highlighted {
          //color: goldenrod;
          .ftb-stage-cup-net__score {
            background: rgba(255, 215, 0, 0.3);
          }
          ftb-team-logo {
            background: rgba(255, 215, 0, 0.3);
          }
          ion-router-link {
            //background: rgba(255, 215, 0, 0.2);
            .ftb-stage-cup-net__team-name {
              color: darkgoldenrod;
            }
          }
        }

        .ftb-stage-cup-net__team-name {
          padding-left: 10px;
          padding-right: 20px;
          min-width: 110px;
          font-size: 14px;
          transition: color $netAnimation;
          height: 100%;
        }
        .ftb-stage-cup-net__score {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          background: rgba(0, 0, 0, 0.05);
          font-size: 14px;
          position: relative;

          &:not(:last-of-type) {
            &:after {
              display: block;
              content: ' ';
              height: 30px;
              width: 1px;
              position: absolute;
              top: 10px;
              right: 0;
              background: rgba(0, 0, 0, 0.05);
            }
          }
        }
      }
    }

    .ftb-stage-cup-net__net-container {
      .dot {
        transform: translateX(-50%) translateY(-50%);
        height: 6px;
        width: 6px;
        background-color: #363d46;
        border-radius: 50%;
        position: absolute;
        box-shadow: 0 0 0 5px white, 0 0 2px 6px rgba(54, 61, 70, 0.1);
        z-index: 10;
        transition: background-color $netAnimation, box-shadow $netAnimation;
        &.highlighted {
          background-color: darkgoldenrod;
          box-shadow: 0 0 0 5px white, 0 0 2px 6px rgba(184, 134, 11, 0.1);
          z-index: 1001;
        }
      }
      .ftb-stage-cup-net__svg-line {
        fill: transparent;
        stroke: rgba(0, 0, 0, 0.1);
        z-index: 0;
        transition: stroke $netAnimation;
        &.highlighted {
          stroke: gold;
          z-index: 1000;
        }
      }
    }
  }

  .ftb-stage-cup-net__body.compact {
    ftb-team-logo {
      &:after {
        display: block;
        content: ' ';
        height: 30px;
        width: 1px;
        position: absolute;
        top: 10px;
        right: 0;
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
