ftb-stage-cup-net {
  .ftb-stage-cup-net__wrapper {
    .ftb-stage-cup-net__background {
      .ftb-stage-cup-net__net {
        display: flex;
        .ftb-stage-cup-net__column {
          .ftb-stage-cup-net__head {
            text-align: center;
          }
          .ftb-stage-cup-net__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            .game {
              position: relative;
              &:after {
                display: block;
                content: ' ';
                position: absolute;
              }
              ftb-link a {
                display: block;
              }
              .row {
                display: flex;
                align-items: center;
                .name {
                  display: flex;
                  flex: 1;
                  align-items: center;
                }
              }
            }
          }
        }
        .ftb-stage-cup-net__column:not(:first-of-type) {
          .game:before {
            position: absolute;
            content: ' ';
            display: block;
          }
        }
      }
    }
  }
}
