ftb-league-stadiums {
  .ftb-league-stadiums__wrapper {
    .ftb-league-stadiums__background {
      .ftb-league-stadiums__content {
        ftb-searchable-content {
          width: 800px;
          ftb-stadium-card {
            .ftb-stadium-card__image {
              ftb-stadium-photo {
                height: 140px;
                width: 196px;
                background: rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(0, 0, 0, 0.2);
                margin: 2px;
                display: flex;
                align-items: center;
                justify-content: center;

                ftb-icon {
                  height: 50px;
                  width: 50px;
                  box-sizing: border-box;
                  fill: rgb(255 255 255 / 42%);
                }
              }
            }

            .ftb-stadium-card__title {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
