ftb-datepicker-stories {
  display: block;
  padding: 20px;
  ftb-datepicker {
    display: block;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    background: #fafafa;
    overflow: hidden;

    .calendar {
      font-size: 13px;

      .month-row {
        height: 40px;
        padding: 0 4px;
        button {
          width: 30px;
          height: 30px;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          border: none;
          ftb-icon {
            height: 10px;
            width: 10px;
            fill: rgba(0, 0, 0, 0.6);
          }
        }
      }

      .days-row {
        background: rgba(0, 0, 0, 0.2);
        grid-gap: 1px;
        font-weight: 600;
      }
      .day-name {
        height: 40px;
      }
      .slots {
        grid-gap: 1px;
        padding: 1px 0;
        .slot {
          height: 35px;
          &:not(.empty) {
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            background: rgba(200, 200, 200, 0.15);
          }
          &.active-from {
            background: #8c3636;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          &.active-to {
            background: #8c3636;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          &.active-between {
            background: rgba(140, 54, 54, 0.2);
          }
        }
      }
    }

    .submit-button {
      height: 40px;
      border-radius: 0;
      box-shadow: none;
      border: none;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      outline: none;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .selected {
    padding-top: 20px;
    span {
      margin-left: 5px;
      margin-right: 5px;
    }
    button {
      margin-right: 10px;
    }
  }
}
