ftb-game-stats-preview {
  .ftb-game-stats-preview__wrapper {
    .stats {
      .row {
        display: flex;
        height: 55px;
        margin: 0 20px;
        &:not(:last-of-type) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .center {
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
        }
        .side {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 12px;
          &:last-of-type {
            flex-direction: row-reverse;
          }
          .item {
            display: flex;
            align-items: center;
            padding: 0 5px;
            .title {
              font-weight: 600;
              margin-right: 5px;
            }
          }
        }
      }
      .row.last-games {
        height: 90px;
        .mini-score {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 7.5px;
          ftb-team-logo {
            --placeholder-fill: rgba(255, 255, 255, 0.7);
          }
          .score {
            font-size: 12px;
            margin-top: 5px;
            font-weight: 600;
          }
        }
      }
    }
    .history {
      .item {
        margin: 0 2px;
      }
    }
  }
}
