ftb-partner-photo {
  display: inline-flex;
  ftb-icon {
    border-radius: inherit;
    height: inherit;
    width: inherit;
  }
  ftb-img {
    border-radius: inherit;
    height: inherit;
    width: inherit;
  }
}
