.ftb-tabs {
  &__header {
    display: flex;
  }

  &__body {
    position: relative;
    &-tab {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      &.selected {
        z-index: 1;
        opacity: 1;
        pointer-events: auto;
        position: relative;
      }
    }
  }
}
