@import '~@ionic/core/css/core.css';

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f6f9fc;
}

ftb-showcase-page {
  h2 {
    margin-top: 40px;
  }

  .inline-code {
    display: inline;
    padding: 0 5px;
  }

  .menu {
    ftb-searchable-content {
      margin-top: 10px;
      display: block;
      height: calc(100% - 43px);
      .ftb-searchable-content__search-line {
        height: 30px;
      }
      .main-input {
        border: none;
        outline: none;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
        height: 30px;
        width: 100%;

        border-radius: 10px;
      }
      .search-icon {
        height: 14px;
        width: 14px;
        top: 9px;
        left: 10px;
      }
    }
    .ftb-searchable-content__content {
      overflow-y: auto;
      height: calc(100% - 72px);
      direction: rtl;
      margin-top: 20px;
      margin-left: -15px;
      padding-left: 15px;

      &::-webkit-scrollbar-thumb {
        background-color: #8d9aa1;
        position: relative;
        border-radius: 8px;
      }

      &::-webkit-scrollbar {
        width: 4px;
        position: relative;
        display: block;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
      }

      .category {
        direction: ltr;
        &:first-of-type {
          h6 {
            margin-top: 0 !important;
          }
        }
        &:last-of-type {
          margin-bottom: 30px;
        }
        h6 {
          margin: 0;
          font-size: 13px;
          height: 25px;
          margin-top: 20px;
        }
        a {
          display: flex;
          align-items: center;
          font-size: 13px;
          height: 35px;
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          color: rgba(0, 0, 0, 0.7);
          cursor: pointer;
          outline: none;
          user-select: none;
          text-decoration: none;
          &:hover {
            color: cornflowerblue;
          }
        }
      }
    }
  }

  .mobile {
    ion-header ion-toolbar {
      ion-title {
        font-family: 'Twinkle Star', cursive;
        font-weight: 700;
        font-size: 18px;
      }
    }

    .main-link {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 18px;
      color: #2e2e2e;
      font-family: 'Twinkle Star', cursive;
      font-weight: 700;
    }

    .main-logo {
      height: 30px;
      width: 30px;
      transform: translateX(18px);
      opacity: 0.6;
    }

    .content {
      padding: 0 10px;
      overflow-y: auto;
      min-height: calc(100% - 56px);
      width: 100vw;
      box-sizing: border-box;
    }

    ion-nav > .ion-page {
      display: block;
      padding: 0 10px;
      overflow: auto;
    }

    .ion-page {
      justify-content: flex-start;
    }

    .menu {
      .header {
        padding: 0 20px;
        a.link-active {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none !important;
          font-size: 18px;
          color: #2e2e2e !important;
          font-family: 'Twinkle Star', cursive;
          font-weight: 700;
        }
      }
      ftb-searchable-content {
        margin: 10px;
        height: calc(100% - 64px) !important;
        .ftb-searchable-content__content {
          //height: calc(100% - 41px) !important;
        }
      }
      input {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .desktop {
    $menuWidth: 230px;
    .header {
      padding: 0 20px;
      .main-link {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 18px;
        color: #2e2e2e;
        font-family: 'Twinkle Star', cursive;
        font-weight: 700;
      }
    }
    $contentPadding: 10px;

    .menu {
      width: $menuWidth;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100000;
      .header {
        height: 100%;
      }
      .category {
        direction: ltr;
        &:first-of-type {
          h6 {
            margin-top: 0 !important;
          }
        }
        &:last-of-type {
          margin-bottom: 30px;
        }
        h6 {
          margin: 0;
          font-size: 13px;
          height: 25px;
          margin-top: 20px;
        }
        a {
          display: flex;
          align-items: center;
          font-size: 12px;
          height: 35px;
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          color: rgba(0, 0, 0, 0.7);
          cursor: pointer;
          outline: none;
          user-select: none;
          text-decoration: none;
          position: relative;
          background: transparent;
          white-space: nowrap;
          padding: 0 5px;
          &:hover {
            color: cornflowerblue;
          }
        }
      }
    }

    .content-fog {
      width: 100%;
      background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
      position: absolute;
      left: 0;
      z-index: 1000;
      height: 30px;
      top: 0;
      border-radius: 10px 10px 0 0;
    }

    .main-link {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 18px;
      color: #2e2e2e;
      font-family: 'Twinkle Star', cursive;
      font-weight: 700;
      position: relative;
      background: transparent;
    }

    .content {
      margin-left: $menuWidth;
      height: calc(100% - 60px);
      background: white;
      margin-top: $contentPadding;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      padding-bottom: 50px;
      width: calc(100% - 230px);
      position: relative;
      padding-left: 20px;
      overflow-y: auto;
      ion-app {
        padding-left: 20px;
      }

      .ion-page {
        display: block;
        overflow-y: auto;

        &::-webkit-scrollbar-thumb {
          background-color: #999999;
          position: relative;
          border-radius: 8px;
        }

        &::-webkit-scrollbar {
          width: 8px;
          position: relative;
          display: block;
          border-radius: 8px;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
          border-radius: 8px;
        }
      }
    }
  }
}
