ftb-cup-net-explorer-img-layer {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: grab;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  ftb-cup-net {
    display: block;
    user-select: none;
    pointer-events: none;
    .game {
      pointer-events: auto;
    }
  }
}
