ftb-game-photo-cover {
  display: block;
  .ftb-game-photo-cover__wrapper {
    .ftb-game-photo-cover__background {
      .ftb-game-photo-cover__image {
        background-size: cover;
        background-position: center center;
      }
      .ftb-game-photo-cover__logos {
      }
      .ftb-game-photo-cover__title {
      }
    }
    .ftb-game-photo-cover__background:not(.loaded) {
      .ftb-game-photo-cover__image {
        opacity: 0;
      }
      .ftb-game-photo-cover__logos {
        opacity: 0;
      }
    }
  }
  .ftb-game-photo-cover__helper-img {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
