ftb-game-photo-cover {
  display: block;
  .ftb-game-photo-cover__wrapper {
    background: rgba(0, 0, 0, 0.1);
    height: inherit;
    width: inherit;
    .ftb-game-photo-cover__background {
      display: block;
      text-align: center;
      position: relative;
      height: inherit;
      width: inherit;
      .ftb-game-photo-cover__image {
        height: inherit;
        width: inherit;
        background-size: cover;
        background-position: center center;
      }
      .ftb-game-photo-cover__logos {
        display: none;
      }
      .ftb-game-photo-cover__title {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 14px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 10px 20px;
        padding-top: 50px;
        box-sizing: border-box;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.01));
        color: white;
      }
    }
    .ftb-game-photo-cover__background:not(.loaded) {
      .ftb-game-photo-cover__image {
        opacity: 0;
      }
      .ftb-game-photo-cover__title {
        color: black;
        background: transparent;
      }
      .ftb-game-photo-cover__logos {
        opacity: 0;
      }
    }
  }
  .ftb-game-photo-cover__helper-img {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
