ftb-champ-card {
  .ftb-champ-card__wrapper {
    width: inherit;
    height: inherit;
    &:not(.loaded) {
      opacity: 0;
    }
    .ftb-champ-card__background {
      width: inherit;
      height: inherit;
      position: relative;
      display: flex;
      align-items: center;
      .ftb-champ-card__color {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        .ftb-champ-card__color-layer {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          &:nth-child(1) {
            opacity: 0.2;
          }
          &:nth-child(2) {
            opacity: 0.35;
          }
          &:nth-child(3) {
            opacity: 0.1;
          }
        }
      }
      .ftb-champ-card__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        align-items: center;
        ftb-flag {
          margin: 0 10px;
        }
        .ftb-champ-card__champ-name {
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .ftb-champ-card__seasons {
          font-size: 11px;
          display: flex;
        }
      }
    }
  }
}
