ftb-player-media {
  .ftb-player-media__wrapper {
    height: inherit;
    width: inherit;
    .ftb-player-media__background {
      height: inherit;
      width: inherit;
      ftb-searchable-content {
        width: 800px;
      }
    }
  }
}
