ftb-player-photo-stories {
  display: block;
  background: red;
  ftb-player-photo {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background: #eeeeee;
    fill: rgb(34 39 46 / 77%);
  }
}
